.login-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 5px;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"],
select {
    width: 90%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid rgb(204, 204, 204);
}

button[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    background-color: rgb(0, 123, 255);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: rgb(0, 86, 179);
}

.error-message{
    color: rgb(224, 89, 89);
}
